@font-face {
  font-family: 'sfui';
  src: url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
    url('../fonts/SFUIDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sfui';
  src: url('../fonts/SFUIDisplay-Medium.woff2') format('woff2'),
    url('../fonts/SFUIDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'sfui', sans-serif;
  font-size: 18px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.page-header {
  display: flex;
  justify-content: center;
  height: 178px;
  column-gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 375px) {
  .page-header {
    flex-direction: column;
    padding-top: 29px;
    padding-left: 15px;
    justify-content: start;
  }
}

.advantage {
  max-width: 350px;
  height: 63px;
  display: grid;
  grid-template-columns: auto 1fr;
  padding-top: 57px;
  column-gap: 21px;
}
@media (max-width: 375px) {
  .advantage {
    padding-top: 0px;
  }
}

@media (max-width: 767px) {
  .advantage:not(:first-of-type) {
    display: none;
  }
}

.advantage-img {
  grid-column: 1;
  grid-row: 1 / 3;
  padding-top: 6px;
}

.advantage-headline {
  font-weight: 500;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  word-spacing: 5px;
  padding-bottom: 3px;
}

.advantage-text {
  font-size: 14px;
  margin: 0;
  line-height: 20px;
  word-spacing: 5px;
}
