/*global*/

@font-face {
  font-family: 'sfui';
  src: url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
    url('../fonts/SFUIDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sfui';
  src: url('../fonts/SFUIDisplay-Medium.woff2') format('woff2'),
    url('../fonts/SFUIDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --basic-blue: #2d9cdb;
  --basic-black: #333333;
  --basic-grey: #828282;
  --light-blue: #c3e9fd;
  --light-grey: #eeeeee;
  --basic-green: #27ae60;
  --light-grey-two: #c4c4c4;
  --dark-blue: #1c73a5;
  --gold: #ffde00;
}
/*header*/

.page-body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'sfui', sans-serif;
  font-size: 18px;
  color: var(--basic-black);
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 115px;
  gap: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 375px) {
  .page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 29px;
    padding-left: 15px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-bottom: 41px;
  }
}

.advantage {
  max-width: 350px;
  height: 63px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 21px 1fr;
  grid-template-columns: auto 1fr;
  padding-top: 57px;
  -webkit-column-gap: 21px;
  -moz-column-gap: 21px;
  column-gap: 21px;
}
@media (max-width: 375px) {
  .advantage {
    padding-top: 0px;
  }
}

@media (max-width: 767px) {
  .advantage:not(:first-of-type) {
    display: none;
  }
}

.advantage-img {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  padding-top: 6px;
}

.advantage-headline {
  font-weight: 500;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  word-spacing: 5px;
  padding-bottom: 3px;
}

.advantage-text {
  font-size: 14px;
  margin: 0;
  line-height: 20px;
  word-spacing: 5px;
}

/*catalog*/

.catalog {
  margin-bottom: 32px;
}

@media (max-width: 375px) {
  .catalog {
    margin-bottom: 8px;
  }
}

.catalog-header {
  margin-left: 165px;
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 4px;
  margin-top: 21px;
  margin-bottom: 55px;
}

@media (max-width: 375px) {
  .catalog-header {
    display: none;
  }
}

.catalog-header-mobile {
  display: none;
  font-size: 22px;
  line-height: 26px;
  color: var(--basic-black);
  padding-left: 15px;
  font-weight: 400;
}

@media (max-width: 375px) {
  .catalog-header-mobile {
    display: inline;
  }
}

.goods {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 165px 0 165px;
  row-gap: 60px;
  margin-bottom: 32px;
}

@media (max-width: 375px) {
  .goods {
    padding: 0 15px 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 0;
    margin-bottom: 17px;
  }
}

.good {
  width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--basic-black);
}

.good-one {
  border: 0;
}

@media (max-width: 375px) {
  .good {
    width: 100%;
    height: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 4px;
    border-top: 1px solid var(--light-blue);
  }
}

.good:hover {
  -webkit-box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
}

@media (max-width: 375px) {
  .good:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.good-img {
  max-width: 155px;
  max-height: 155px;
}
@media (max-width: 375px) {
  .good-img {
    max-width: 34px;
    max-height: 34px;
    margin-right: 17px;
  }
}

.good-name {
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .good-name {
    font-size: 14px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}

.good:hover .good-name {
  color: var(--basic-blue);
}

.good-quantity {
  color: var(--basic-grey);
}

.good-quantity-mobile {
  display: none;
  color: var(--basic-grey);
  font-size: 14px;
  padding-right: 20px;
  position: relative;
}

@media (max-width: 375px) {
  .good-quantity-mobile {
    display: inline;
  }
}

.good-quantity-mobile::after {
  content: '';
  width: 6px;
  height: 10px;
  display: block;
  background: url(../img/catalog/arrow.svg) no-repeat;
  position: absolute;
  top: 3px;
  right: 0;
}

@media (max-width: 375px) {
  .good-quantity {
    display: none;
  }
}

.button-mobile {
  display: none;
  width: 159px;
  height: 40px;
  border: 1px solid var(--basic-blue);
  border-radius: 5px;
  font-size: 14px;
  color: var(--basic-blue);
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  padding: 9px 18px 0 0;
  word-spacing: 5px;
  position: relative;
}

.button-mobile::after {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  background: url(../img/catalog/down_icon.svg) no-repeat;
  position: absolute;
  top: 12px;
  right: 19px;
}

@media (max-width: 375px) {
  .button-mobile {
    display: block;
  }
}

@media (max-width: 375px) {
  .button-mobile:hover {
    -webkit-box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
  }
}

.bestseller {
  margin: 0 165px 0 165px;
  font-weight: 400;
}

@media (max-width: 375px) {
  .bestseller {
    margin: 0 15px 0 15px;
  }
}

.bestseller-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bestseller-title {
  font-size: 36px;
  color: var(--basic-black);
  line-height: 42px;
  letter-spacing: 1px;
}

@media (max-width: 375px) {
  .bestseller-title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
}

@media (max-width: 375px) {
  .navigation {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: -4px;
  }
}

.navigation-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--light-grey);
}

.navigation-arrow:hover {
  -webkit-box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
}

.navigation-arrow:hover svg path {
  fill: var(--basic-blue);
}

@media (max-width: 375px) {
  .navigation-arrow:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/*bestsellers*/

.bestsellers-catalog {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

@media (max-width: 375px) {
  .bestsellers-catalog {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.bestsellers-good {
  width: 255px;
  height: 486px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.bestsellers-good:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

@media (max-width: 375px) {
  .bestsellers-good {
    width: 345px;
    height: auto;
    border: 1px solid var(--light-grey);
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
}

.marks {
  position: absolute;
  right: 16px;
  top: -4px;
  z-index: 1;
}

@media (max-width: 375px) {
  .marks {
    display: none;
  }
}

.marks-mobile {
  position: absolute;
  left: 16px;
  top: 20px;
  display: none;
}

@media (max-width: 375px) {
  .marks-mobile {
    display: block;
  }
}

.marks-youtube {
  display: none;
  width: 22px;
  height: 15px;
  position: absolute;
  top: 23px;
  right: 18px;
  cursor: pointer;
}

@media (max-width: 375px) {
  .marks-youtube {
    display: block;
  }
}

.img-wrapper {
  width: 215px;
  height: 215px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
}

.fast-view {
  position: absolute;
  top: -4px;
  left: -5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 375px) {
  .fast-view {
    display: none;
  }
}

.bestsellers-good:hover .fast-view {
  opacity: 1;
}

.bestsellers-img {
  position: relative;
}

@media (max-width: 375px) {
  .bestsellers-img {
    margin-top: 25px;
  }
}

.bestsellers-title {
  font-size: 14px;
  line-height: 20px;
  padding: 20px 20px 0 20px;
  font-weight: 500;
  word-spacing: -3px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .bestsellers-title {
    padding-top: 47px;
  }
}

.bestsellers-title:hover {
  color: var(--basic-blue);
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0 20px 0 20px;
}

.reviews-grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3px;
  -moz-column-gap: 3px;
  column-gap: 3px;
}

.reviews-text {
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-grey);
  cursor: pointer;
}

.reviews-text:hover {
  color: var(--basic-blue);
}

.star {
  fill: #e0e0e0;
  width: 20px;
  height: 19px;
  cursor: pointer;
}

.reviews-text {
  margin-left: 11px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
  margin-top: 2px;
  word-spacing: 4px;
  -webkit-column-gap: 9px;
  -moz-column-gap: 9px;
  column-gap: 9px;
}

.price-new {
  font-size: 18px;
}
@media (max-width: 375px) {
  .price-new {
    font-size: 22px;
    margin-bottom: 17px;
    margin-top: 18px;
  }
}

.price-old {
  font-size: 13px;
  color: var(--light-grey-two);
  text-decoration: line-through;
}

@media (max-width: 375px) {
  .price-old {
    font-size: 14px;
    padding-top: 8px;
  }
}

.availability {
  color: var(--basic-green);
  font-size: 13px;
  padding-left: 20px;
  margin-top: 4px;
}

@media (max-width: 375px) {
  .availability {
    padding-left: 43px;
    position: relative;
  }
}

@media (max-width: 375px) {
  .availability::after {
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    background: url(../img/bestseller/available.svg) no-repeat;
    position: absolute;
    left: 18px;
    top: 2px;
  }
}

.basket-panel {
  padding-left: 20px;
  margin-top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 38px;
  -moz-column-gap: 38px;
  column-gap: 38px;
}

@media (max-width: 375px) {
  .basket-panel {
    -webkit-column-gap: 21px;
    -moz-column-gap: 21px;
    column-gap: 21px;
  }
}

.basket {
  width: 120px;
  height: 35px;
  background-color: var(--basic-blue);
  color: white;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  padding-bottom: 4px;
  cursor: pointer;
}

@media (max-width: 375px) {
  .basket {
    width: 230px;
    height: 40px;
  }
}

.basket:hover {
  background-color: var(--dark-blue);
}

.basket-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
}

@media (max-width: 375px) {
  .basket-mark {
    display: none;
  }
}

.basket-mark-mobile {
  display: none;
}

@media (max-width: 375px) {
  .basket-mark-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
}

.favorite-icon:hover path {
  fill: var(--gold);
  cursor: pointer;
}

.favorite-icon-mobile:hover path {
  fill: var(--gold);
  cursor: pointer;
}

.heart-icon:hover path {
  fill: red;
  cursor: pointer;
}

.heart-icon-mobile:hover path {
  fill: red;
  cursor: pointer;
}

.buy-click-mobile {
  display: none;
}

@media (max-width: 375px) {
  .buy-click-mobile {
    color: var(--basic-blue);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
    width: 305px;
    border-top: 1px solid var(--light-grey);
  }
}

.buy-click-mobile-text {
  letter-spacing: 1px;
  padding-top: 13px;
  padding-bottom: 15px;
  display: none;
}

.buy-click-mobile-text:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

@media (max-width: 375px) {
  .buy-click-mobile-text {
    display: block;
  }
}

.page-footer {
  height: 1px;
}
